    <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <span class="text-muted">2022 - Gaëlle André - Laboratoire Ville Mobilités Transport</span>
      </div>
    </footer>
  </div>

</body>

</html>
